<header class="row justify-content-center mx-auto w-100 pb-3" [ngClass]="showBg?'header_bg':''">

    <div class="col-12 cmm-bg-project-primary" style="height: 50px;"></div>

    <div class="col-12 d-flex justify-content-between align-items-center gap-3 px-3" style="max-width: 1500px;">

        <img [src]="logos.daves" class="cursor-pointer" style="width: 75px;max-height: 150px;" routerLink="/home"
            alt="">

        <div class="d-none d-md-flex flex-grow-1 justify-content-center gap-3">

            <div class="navbar_grid w-100" style="max-width: 600px;">

                <a *ngFor="let item of navbarItems" class="text-decoration-none text-black cmm-txt-thin-bold"
                    routerLink="/products">{{item.text}}</a>
            </div>

        </div>

        <div class="d-none d-md-flex gap-3">

            <mat-icon class="header_icon fs-30 cursor-pointer">person</mat-icon>
            <mat-icon class="header_icon fs-30 cursor-pointer" routerLink="/products/overview">shopping_cart</mat-icon>

        </div>

        <div class="d-flex d-md-none" (click)="toggleSidenav()">

            <mat-icon class="header_icon fs-30 cursor-pointer">menu</mat-icon>

        </div>

    </div>

</header>