<header class="row g-0 justify-content-center mx-auto w-100 header_bg">

    <div class="col-12 d-flex justify-content-center" style="max-width: 1500px;">

        <div class="row align-items-center g-0 w-100">

            <div class="col-3 d-flex align-items-center justify-content-center">

                <img [src]="logos.daves" class="cursor-pointer" style="width: 75px;max-height: 150px;"
                    routerLink="/home" alt="">

            </div>

            <!-- Parte de iconos, input y navbar -->
            <div class="col-9">

                <div class="row align-items-center g-0 w-100 py-4">

                    <div class="col-12 d-none d-lg-flex justify-content-between pe-3">

                        <!-- Input de búsqueda -->
                        <div class="d-flex align-items-center justify-content-between border ps-3 w-100"
                            style="max-width: 500px;max-height: 30px;">

                            <input name="eren" type="text" class="input_default" style="width: calc(100% - 30px);">

                            <div class="cmm-bg-project-secundary d-flex align-items-center justify-content-center"
                                style="width: 60px; height: 100%;">
                                <!-- <label for="eren">Buscar</label> -->
                                <mat-icon
                                    class="header_icon text-white fs-30 text-secondary cursor-pointer">search</mat-icon>
                            </div>

                        </div>

                        <!-- whatsapp -->
                        <div class="d-flex align-items-center gap-1">
                            <img [src]="icons.whatsapp" class="small-scale cursor-pointer"
                                style="height: 25px;width: 25px;" alt="">
                            <p class="cmm-txt-thin-bold m-0 cursor-pointer">0212-352-2583</p>
                        </div>

                    </div>

                    <!-- Segundo piso -->
                    <div
                        class="col-12 d-flex justify-content-end justify-content-lg-between align-items-center gap-3 p-3">

                        <!-- <img [src]="logos.daves" class="cursor-pointer" style="width: 75px;max-height: 150px;" routerLink="/home"
                            alt=""> -->

                        <div class="d-none d-lg-flex flex-grow-1 justify-content-start gap-3">

                            <a *ngFor="let item of navbarItems"
                                class="text-decoration-none text-nowrap text-black cmm-txt-thin-bold text_hover_secundary"
                                routerLink="/products">{{item.text}}</a>

                        </div>

                        <div class="d-none d-lg-flex gap-3">

                            <mat-icon class="header_icon fs-30 cursor-pointer">favorite_outline</mat-icon>
                            <mat-icon class="header_icon fs-30 cursor-pointer">person_outline</mat-icon>
                            <mat-icon class="header_icon fs-30 cursor-pointer"
                                routerLink="/products/overview">shopping_cart</mat-icon>

                        </div>

                        <div class="d-flex d-lg-none gap-2">

                            <mat-icon class="header_icon fs-30 cursor-pointer" (click)="openSearch()">search</mat-icon>

                            <mat-icon class="header_icon fs-30 cursor-pointer">favorite_outline</mat-icon>

                            <mat-icon class="header_icon fs-30 cursor-pointer">person_outline</mat-icon>

                            <mat-icon class="header_icon fs-30 cursor-pointer"
                                routerLink="/products/overview">shopping_cart</mat-icon>

                            <mat-icon class="header_icon fs-30 cursor-pointer" (click)="toggleSidenav()">menu</mat-icon>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>



</header>