<footer class="w-100" style="background-color: #000;">

    <div class="row flex-column flex-md-row justify-content-center mx-auto g-0 py-5" style="max-width: 1200px;">

        <!-- Todo carnes -->
        <div class="d-flex ps-3 m-0 justify-content-start justify-content-md-center footer_section1">

            <div class="d-flex flex-column">

                <div class="w-100 d-flex align-items-center">

                    <!-- <img id="footer_logo" class="main_logo" [src]="mainLogo" alt=""> -->

                    <h4 class="cmm-txt-thin-bold text-white m-0" style="height: 58px;">MIRACULOUS</h4>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <div class="">
                        <mat-icon class="text-white">location_on</mat-icon>
                    </div>

                    <span class="text-white text-break overflow-hidden">Av. Circumbalación del sol, calle 110 <br> con
                        av 62
                        de El
                        Cafetal,
                        Caracas</span>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <mat-icon class="text-white">call</mat-icon>

                    <span class="text-white">+58 0424-5555607</span>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <mat-icon class="text-white">mail</mat-icon>

                    <span class="text-white">atencion@todocarnes.com</span>

                </div>

            </div>

        </div>

        <!-- Productos -->
        <div class="d-flex justify-content-start ps-3 mt-5 mt-md-0 justify-content-md-center footer_section2">

            <div class="d-flex justify-content-start flex-column">

                <div class="d-flex align-items-center" style="max-height: 100px;height: 58px;">
                    <h5 class="text-white cmm-txt-thin-bold">PRODUCTOS</h5>
                </div>

                <span class="text-white mb-3">• Ropa</span>
                <span class="text-white mb-3">• Calzado</span>
                <span class="text-white mb-3">• Accesorios</span>
                <span class="text-white mb-3">• Damas</span>
                <span class="text-white mb-3">• Caballeros</span>

            </div>

        </div>

        <!-- Acerca de nosotros -->
        <div class="d-flex justify-content-start ps-3 mt-5 mt-md-0 justify-content-md-center footer_section3">

            <div class="d-flex justify-content-start flex-column">

                <div class="d-flex align-items-center" style="max-height: 100px;height: 58px;">
                    <h5 class="text-white cmm-txt-thin-bold">ACERCA DE NOSOTROS</h5>
                </div>

                <span class="text-white mb-3">Quienes somos</span>
                <span class="text-white mb-3">Ventas al mayor</span>
                <span class="text-white mb-3">Ofertas</span>

            </div>

        </div>

        <!-- Parte baja del footer (Redes sociales) -->
        <section class="col-12 d-flex justify-content-center justify-content-md-end">

            <div class="d-flex flex-column">

                <!-- titulo -->
                <div class="d-flex align-items-center justify-content-between">

                    <div class="line cmm-bg-project-primary" style="width: 150px !important;"></div>

                    <span class="cmm-txt-thin-bold cmm-txt-project">SÍGUENOS</span>

                </div>

                <!-- Redes sociales -->
                <div class="d-flex align-items-center gap-3">

                    <div class="d-flex gap-3">

                        <div class="d-flex align-items-center cursor-pointer">
                            <img [src]="icons.instagram" alt="">
                            <span class="text-white fs-12">@todocarnes</span>
                        </div>

                        <div class="d-flex align-items-center cursor-pointer">
                            <img [src]="icons.facebook" alt="">
                            <span class="text-white fs-12">@todocarnes</span>
                        </div>

                    </div>

                    <!-- Ícono de whatsapp -->
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="cursor-pointer" [src]="icons.whatsapp" width="50" height="50" alt="">
                    </div>

                </div>

            </div>

        </section>

    </div>

</footer>