<div class="row g-0 justify-content-evenly align-items-start">

    <div class="col-lg-7">

        <div class="row g-0 w-100">

            <div class="col-2 col-lg-3">

                <div class="row w-100 justify-content-center px-3">

                    <div *ngFor="let item of product.images" [style.background-image]="'url(' + item +')'"
                        class="col-12 product_detail_image my-3" style="aspect-ratio: 1;">

                    </div>

                </div>

            </div>

            <div class="col-10 col-lg-9 d-flex align-items-center position-relative"
                style="aspect-ratio: 9/10;background-color: #F2F2F2;">

                <!-- Botón de cambiar a imagen anterior -->
                <mat-icon class="position-absolute cursor-pointer"
                    style="top: 50%;left: 5%;transform: translateX(-50%);"
                    (click)="changeMainImageIndex(false)">arrow_back_ios</mat-icon>

                <img [src]="product.images[mainImageIndex]" alt="" class="w-100"
                    style="max-width: 100%;aspect-ratio: 1;">

                <!-- Botón de cambiar a imagen siguiente -->
                <mat-icon class="position-absolute cursor-pointer"
                    style="top: 50%;left: 95%;transform: translateX(-50%);"
                    (click)="changeMainImageIndex(true)">arrow_forward_ios</mat-icon>

            </div>

        </div>

    </div>

    <div class="col-lg-5 d-flex justify-content-center">

        <div class="d-flex flex-column w-100 align-items-start ps-4 ps-sm-5">

            <!-- Nombre, marca y precio -->

            <span class="fs-34 cmm-txt-thin-bold">{{product.name}}</span>
            <span class="fs-32 cmm-txt-thin-bold">{{product.brand}}</span>

            <span class="fs-34 cmm-txt-thin-bold my-4">{{'REF. '+ product.price}}</span>

            <mat-divider class="w-100"></mat-divider>

            <!-- Colores -->
            <div class="w-100 py-4">

                <div class="d-flex gap-1">
                    <span>COLOR:</span>
                    <span class="cmm-txt-thin-bold">{{product.aditionalInfo['Color']}}</span>
                </div>

                <div class="d-flex">
                    <!-- Variantes -->
                    <div *ngFor="let variant of product.variants; index as i" class="color_box me-1 cursor-pointer"
                        [style.background-color]="variant" [ngClass]="i == choosenVariant?'scale-1':''"
                        (click)="choosenVariant = i">
                    </div>
                </div>

            </div>

            <mat-divider class="w-100"></mat-divider>

            <!-- Tallas -->
            <div class="w-100 py-4">

                <div class="d-flex gap-1">
                    <span>Tallas:</span>
                </div>

                <div class="d-flex">
                    <!-- Variantes -->
                    <div *ngFor="let size of product.sizes; index as i"
                        class="color_box me-1 cursor-pointer d-flex align-items-center justify-content-center"
                        [ngClass]="i == choosenSize?'scale-1 bg-black':''" (click)="choosenSize = i">

                        <span class="fs-12 cmm-txt-thin-bold"
                            [ngClass]="i == choosenSize?'text-white':''">{{size}}</span>

                    </div>
                </div>

            </div>

            <mat-divider class="w-100"></mat-divider>

            <!-- Detalles -->
            <div class="w-100">

                <!-- <div class="d-flex justify-content-between">
                    <span class="cmm-txt-thin-bold">SKU</span>
                    <span>{{product.sku}}</span>
                </div>

                <div class="d-flex justify-content-between">
                    <span class="cmm-txt-thin-bold">Nro. de Parte</span>
                    <span>{{product.partNumber}}</span>
                </div>

                <div class="d-flex justify-content-between">
                    <span class="cmm-txt-thin-bold">Compra Máxima:</span>
                    <span>{{product.maximunPurchase + ' unidad'}}</span>
                </div> -->

                <!-- cantidad y agregar -->
                <div class="d-flex mt-4 flex-column">

                    <span class="mb-3">CANTIDAD:</span>

                    <div class="d-flex align-items-center justify-content-between   ">

                        <!-- Caja para cambiar de cantidad -->
                        <div class="border d-flex align-items-center" style="width: fit-content;">

                            <div class="border p-2 cursor-pointer" (click)="removeProductUnit()">

                                <mat-icon>expand_more</mat-icon>

                            </div>

                            <span class="px-5">{{product.quantity}}</span>

                            <div class="border p-2 cursor-pointer" (click)="addProductUnit()">

                                <mat-icon>expand_less</mat-icon>

                            </div>

                        </div>

                        <cmp-cmm-new-button [config]="{customBorderRadius: '10px', customHeight: '48px'}">
                            <span class="cmm-txt-thin-bold">
                                AGREGAR AL CARRITO
                            </span>
                        </cmp-cmm-new-button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>