<div class="row mx-auto bg-white w-100">

    <!-- Detalle de producto -->
    <cmp-cmm-product-detail class="my-5 bg-white w-100" [product]="product"
        [config]="{button: {customBorderRadius: '10px', customHeight: '48px'}, colorBox: {colorBoxBorder: true}}"></cmp-cmm-product-detail>

    <section class="col-12 my-5">

        <!-- productos -->
        <div class="row g-0 w-100 justify-content-start mt-5">

            <div *ngFor="let product of products" class="col-12 col-sm-6 col-md-4 d-flex justify-content-start mb-5">

                <cmp-cmm-product-card-v2 class="w-100 d-flex justify-content-center" [product]="product"
                    [configStyle]="{priceColor: '#E88A10'}" (addProduct)="navigate($event)"></cmp-cmm-product-card-v2>

            </div>

            <!-- Paginador -->
            <cmp-cmm-paginator class="col-12 px-4" [posts]="products"></cmp-cmm-paginator>

        </div>

    </section>


</div>