<div class="container-fluid g-0 overflow-x-hidden d-flex flex-column justify-content-between"
    style="overflow-y: scroll;min-height: 100vh;">

    <main class="row w-100 g-0 justify-content-center align-items-start">

        <!-- Espacio para el navbar -->
        <cmp-main-header id="header" class="w-100 position-fixed header_container"
            [ngStyle]="{'z-index':sidenavOpen?'1':'200'}" (openSidenav)="sidenavOpen = $event"
            [sidenavOpen]="sidenavOpen"></cmp-main-header>

        <!-- Contenido principal -->
        <div class="mx-auto w-100" [ngClass]="!currentRoute.includes('home') || smallMode? 'main_container':''">

            <mat-sidenav-container class="w-100 position-relative">

                <!-- sidenav -->
                <mat-sidenav class="w-100" mode="over" [opened]="sidenavOpen" [fixedInViewport]="true">

                    <!-- componente de sidenav -->
                    <cmp-main-sidenav-menu class="w-100" (closeSidenav)="sidenavOpen = false"></cmp-main-sidenav-menu>

                </mat-sidenav>

                <!-- Contenido principal -->
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>

            </mat-sidenav-container>

        </div>

    </main>

    <!-- Footer -->
    <cmp-cmm-new-footer [config]="footerConfig" [showBusinessQualities]="false"></cmp-cmm-new-footer>

</div>