/* You can add global styles to this file, and also import other style files */

/*--------------------------------------------------------------------------------------------------------------------------------------
 Importaciones de Archivo de Estilos
--------------------------------------------------------------------------------------------------------------------------------------*/

@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "node_modules/nerdsweb-common/styles/main.scss";

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

*:not(.material-icons) {
  font-family: "montserrat" !important;
  box-sizing: border-box;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(assets/fonts/material/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: lighter;
}

body {
  background-color: white;
}

.line {
  width: 50px;
  height: 2px;
}

.color_box {
  width: 30px;
  height: 20px;
  border: 1px solid black;
}

@media (max-width: 400px) {

  .decorated_title {
    flex: min-content;
    width: min-content;
  }

}